<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header_link %>
</head>

<body class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-200">
    <% include ../partials/topnav %>

        <% include ../partials/sidebar %>

            <div class="p-4 sm:ml-64">
                <div class="p-4 rounded-lg mt-14">
                    <h1 class="text-3xl font-weight-bold">Categories</h1>

                    <a href="/admin/add-category">
                        <button
                            class="my-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add
                            Category</button>
                    </a>

                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Description
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ListData">
                                <tr>
                                    <td col="2">Loading...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <script>
                const listAllCat = async () => {
                    try {
                        const response = await fetch('/admin/api/category');
                        const data = await response.json();
                        let cluster = '';
                        data.forEach(list => {
                            cluster += ` <tr
                                    class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                    <th th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        ${list.name}
                                    </th>
                                    <td class="px-6 py-4">
                                        ${list.description}
                                    </td>
                                    <td class="px-6 py-4">
                                        <button class="inline-block px-3 py-3 mt-1 text-lg font-semibold text-white rounded-lg hover:bg-[#F54720] bg-[#F54748]" onclick="deleteCat('${list._id}')">Delete</button>
                                    </td>
                                    
                                </tr>`;
                        });
                        document.getElementById('ListData').innerHTML = cluster;
                    } catch (error) {
                        console.error(error);
                    }
                };

                listAllCat();
                const deleteCat = async (id) => {
                    try {
                        let catres = await fetch('/admin/api/category', {
                            method: 'delete',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                id
                            })
                        });
                        let data = await catres.json();
                        if (data.status) {
                            listAllCat();
                        }
                        else {
                            alert(data.msg);
                        }
                    } catch (error) {
                        console.log(`Error to add category`, error);
                    }
                }

            </script>
</body>

</html>